whoosh ==2.7.4
fastapi ==0.115.12
uvicorn ==0.34.0
aiofiles ==24.1.0
python-jose ==3.4.0
pyotp ==2.9.0
qrcode ==8.0
python-multipart ==0.0.20
sse-starlette==3.0.2
llama_index
llama-index-embeddings-huggingface
# llama-index-llms-llama-cpp
llama-index-llms-openai-like
llama-index-storage-chat-store-postgres
# llama-index-vector-stores-postgres
# llama-index-storage-docstore-postgres
# llama-index-vector-stores-elasticsearch

llama-index-vector-stores-milvus

sentence-transformers[onnx]

FlagEmbedding

# langextract==1.0.8


# llama-cpp-python==0.3.16

# websockets